.event-container {
  margin: 20px;
  padding: 15px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  background-color: rgb(188, 215, 255);
  border-radius: 10px;
}

.event-container__box {
  display: flex;
}

.info {
  display: inline-block;
  width: 20%;
  margin-top: 10px;
}

.description {
  float: right;
  margin-left: 23%;
  position: absolute;
  display: flex;
}

.description span {
  margin-top: 0%;
}

