.login-form {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    alignment: center;
    justify-content: center;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: Cambria;
    font-size: 17pt;
    background-image: linear-gradient(to bottom right, "yellow", #fe4880);
  }
  
  .login-form.inner-form h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: Cambria;
    font-size: 40pt;
    font-weight: 500;
  }
  
  .title {
    background-color: aquamarine;
    font-size: 100px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: "Times New Roman";
  }
  
  .form-group {
    padding: 1rem;
    align-content: center;
    height: 50px;
    display: block;
    width: 300px;
    margin-bottom: 7px;
  }
  
  .form-group label {
    display: block;
    color: black;
    font-size: 17pt;
    margin-bottom: 5px;
    transition: 0.3s;
    align-items: left;
  }
  
  .login-form.inner-form.form-group:focus-within label {
    color: #FE4880;
  }
  
  .form-group input {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    transition: 0.4s;
    border-radius: 5pt;
    border-color: cadetblue;
    transition: ease-in 0.3;
  }
  .form-group input:hover {
    background-color: rgb(148, 236, 236);
  }
  
  .login-form.inner-form {
    position: relative;
    padding: 30px;
    background-color: #FFF;
    justify-content: center;
    display: flex;
  }
  
  .login-form:after {
    content: "";
    display: block;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, "yellow", #fe4880);
  }
  
  .inner-form input[type="submit"] {
    margin-top: 50px;
    height: 50px;
    width: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: "Cochin";
    font-size: 15pt;
    border-radius: 3px;
    justify-content: center;
    background-color: #fff9ac;
    transition: ease-in 0.3s;
  }
  
  .inner-form input[type="submit"]:hover {
    box-shadow: #FE4880;
    background-color: hsl(56, 93%, 73%);
    cursor: pointer;
  }
  