.nav {
  background: #131862;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-bar-container {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 85px;
  max-width: 2000px;
}

.icon {
  margin-right: 1rem;
}

.nav-logo-container {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-left: 7rem;
}

.nav-logo {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  margin-left: -10rem;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
.nav-link:active {
  color: rgb(245, 207, 84);
}
.nav-link:hover {
  border-bottom: 2px solid #fff;
  color: rgb(245, 207, 84);
  transition: all 0.2s ease-out;
}

.nav-item {
  height: 85px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 40px;
  list-style: none;
  text-align: center;
  padding-top: 1rem;
  width: 50vw;
  justify-content: end;
  margin-top: 0rem;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
ul.nav-menu {
  list-style-type: none;
}

.nav-btn {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  float: right;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.nav-btn:hover {
  border-radius: 4px;
  background-color:rgb(245, 207, 84);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-emphasis-color: black;
  transition: all 0.2s ease-in-out;
}

.nav-btn-link {
  border-radius: 4px;
  background: transparent;
  padding: 10px 22px;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.nav-btn-link.hover {
  transition: all 0.2s ease-in-out;
  background: black;
  color: black;
}

.disabled-link {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  pointer-events: none;
}
